body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#slika
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    filter: brightness(.5);
}

#slike
{
    width: 100vw;
    height: 100vh;
    transition: 1s;
}

#nulti
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    display: flex;
    transition: 1s;
}

#prvi
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#zamraciti
{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    filter: opacity(.45);
}

#drugi, #treci, #cetvrti
{
    position: relative;
    height: 100vh;
    width: 0vw;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    visibility: hidden;
}

#iks
{
    background: gray;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    position: absolute;
    top: 1%;
    right: 1%;
    outline: none;
    cursor: pointer;
}

#iks:active
{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.naslov
{
    background: white;
    padding: 0 10px;
}

.oznaka
{
    background: gray;
    color: white;
    padding: 10px;
}

.t
{
    width: 50%;
    position: relative;
    right: -100%;
    transition: 1s;
}

p
{
    margin: 0;
}

#pokaziLupu
{
    position: relative;
}

#profilna
{
    width: 150px;
    border-radius: 100%;
    filter: brightness(.85);
}

#profilnaLupa
{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#totalnoZamracitiKadJeSlikaUvecana
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    filter: opacity(.75);
    z-index: 1;
}

#sakrijAkoNijeKliknutoNaLupu
{
    display: none;
}

#uvecatiSlikuNaLupi
{
    display: none;
    position: fixed;
    z-index: 1;
    border-radius: 30px;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#pointer
{
    cursor: pointer;
}

#uvecatiSlikuNaLupi2
{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.ime
{
    color: white;
    transition: 1s;
    cursor: pointer;
}

#lista
{
    overflow: hidden;
    width: 135px;
    height: 40px;
    position: relative;
    right: 50%;
}

#pomocniDiv
{
    position: absolute;
    bottom: 10px;
    left: 50%;
}

ol
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: gray;
    position: absolute;
}

li
{
    padding-left: 5px;
    height: 40px;
}

#prva
{
    animation: 5s linear infinite running ikone1;
}

#druga
{
    margin-left: 100%;
    animation: 5s linear infinite running ikone2;
}

@keyframes ikone1
{
    0% {margin-left: 0%}
    100% {margin-left: -100%}
}

@keyframes ikone2
{
    0% {margin-left: 100%;}
    100% {margin-left: 0%;}
}

#f1:hover, #f2:hover
{
    color: rgb(47, 47, 255);
    transition: .2s;
}

#g1:hover, #g2:hover
{
    color: orange;
    transition: .2s;
}

#l1:hover, #l2:hover
{
    color: rgb(47, 120, 255);
    transition: .2s;
}

#name
{
    font-size: 25px;
    font-family: 'Oxygen', sans-serif;
    cursor: auto;
}

#education, #skills, #aboutMe
{
    position: relative;
    width: 150px;
    text-align: center;
    overflow: visible;
}

#education:hover, #skills:hover, #aboutMe:hover
{
    background: white;
    color: black;
}